@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #16161a;
    font-family: "Noto Sans";
}

.main-container{
    padding: 200px;
}

.sub-container{
   justify-content: center;
}

.name{
    font-family: "Noto Sans";
    font-size: 50px;
    color: #fffffe;
    text-align: center;
    flex-wrap: nowrap;

}

.name_title{
    padding-left: 32%;
}

.effect{
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
    animation:
        typing 2s steps(28),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color:transparent;
    }
}

@keyframes typing{
    from{ width:0}
}

.name_title{
    font-family: "Noto Sans";
    font-size: 20px;
    color: #fffffe;
    text-align: center;
    margin-bottom: 40px;
    display:inline-block;
}

.about_me{
    font-family: "Noto Sans";
    font-size: 20px;
    color: #94a1b2;
    text-align: center;
    margin-bottom: 40px;
}

.social_links{
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 25px;
}

.social_links a{
    text-decoration: none;
    color: #7f5af0;
}


/* ------------------- */

/* NAVBAR */

/* ------------------- */


.logo{
    color: #fffffe;
    font-weight: 20px;
    font-size: 20px;
    font-family: "Noto Sans";
}

.nav{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;     
    gap: 25px;
    width: 100%; 
  }
  
  .links a {
    font-family: "Noto Sans";
    color: #fffffe;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .links a:hover{
    color:aqua;
    text-decoration: underline;
  }
  

  .pfp{
   width:100%;
   height: auto;
  }

/* --------------------------

    OH DEAR BENTO

-------------------------- */

.box{
    background-color: #242629; 
}

.grid-container{
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px 300px 300px 300px;
    gap: 2em;
    grid-template-areas: 
        "box-1 box-2 box-2"
        "box-4 box-2 box-2"
        "box-5 box-5 box-6"

}

/* Education Grid Box */

.education-box{
    padding: 25px;
    background-color:#242629;
}

.education-box h1{
    font-size: 25px;
    color: #2cb67d;
    padding-bottom: 14px;

}

.box-1-school{
    padding-bottom: 10px;
}

.school-name{
    font-size: 16px;
    color: #fffffe;
}

.year{
    font-size: 14px;
    color:#94a1b2;
}

.school-text{
    color:#94a1b2;
}

/* Work Experience Box 2 */

.experience-box{
    padding: 25px;
    background-color:#242629;
}

.experience-box h1{
    font-size: 25px;
    color: #2cb67d;
    padding-bottom: 14px;
}

.ex-name{
    font-size: 16px;
    color:#fffffe;
    padding-bottom:5px;
}

.ex-text{
    font-size: 16px;
    color:#94a1b2;
}

.ex-date{
    color:#94a1b2;
    padding-bottom:5px;
    font-size: 12px;
}

.box-2-ex{
    padding-bottom: 2rem;
}

.align {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none; /* removes bullets */
    padding: 0;
  }
  