@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #16161a;
    font-family: "Noto Sans";
}

.main-container{
    padding: 200px;
}

.sub-container{
    padding-left:600px;
}

.name{
    font-family: "Noto Sans";
    font-size: 50px;
    color: #fffffe;
    text-align: left;
    flex-wrap: nowrap;
}

.effect{
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
    animation:
        typing 2s steps(28),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color:transparent;
    }
}

@keyframes typing{
    from{ width:0}
}

.name_title{
    font-family: "Noto Sans";
    font-size: 20px;
    color: #fffffe;
    text-align: left;
    margin-bottom: 40px;
    display:inline-block;
}

.about_me{
    font-family: "Noto Sans";
    font-size: 20px;
    color: #94a1b2;
    text-align: left;
    margin-bottom: 40px;
}

.social_links{
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    font-size: 25px;
}

.social_links a{
    text-decoration: none;
    color: #7f5af0;
}


/* ------------------- */

/* NAVBAR */

/* ------------------- */


.logo{
    color: #fffffe;
    font-weight: 20px;
    font-size: 20px;
    font-family: "Noto Sans";
}

.nav{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 25px;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;     
    gap: 25px;
    width: 100%; 
  }
  
  .links a {
    font-family: "Noto Sans";
    color: #fffffe;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .links a:hover{
    color:aqua;
    text-decoration: underline;
  }
  

  .pfp{
   width:100%;
   height: auto;
  }


/* ------------------- */

/* SECTION 2 EDUCATION */

/* ------------------- */

#education{
    background-color: #242629;
    color: #191919;
    padding: 200px;
    padding-top: 100px;}

.page2{
    font-family: "Noto Sans";
    color: #fffffe;
    font-size: 25px;
    max-width: auto;
    display: flex;
    justify-content: center;
    /* padding-bottom: 5px;
    border-bottom: solid; */

}
.schools{
    display: flex;
    padding-top: 50px;
    gap: 100px;

}

.school1,
.school2,
.school3{
    border-style: solid;
    border-radius: 7.5px;
    border-width: 1px;
    padding: 40px;
    color: #16161a;
    background-color:  #16161a;
    box-shadow: 0px 0px 25px #7f5af0;
}

.school1 h3,
.school2 h3,
.school3 h3 {
    font-family: "Noto Sans";
    padding-bottom: 5px;
    color:#fffffe;
}

.school1 h4,
.school2 h4,
.school3 h4{
    font-family: "Noto Sans";
    padding-bottom: 20px;
    color:#94a1b2;
    margin-left: 30px;
}
.school1 p,
.school2 p,
.school3 p{
    padding-bottom: 40px;
    font-family: "Noto Sans";
    color:#94a1b2;
}

/* ------------------- */

/* Section 3: Resume */

/* ------------------- */
